
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>
        @ViewBag.Greeting World (from the view)
    We're going to have an exciting party. <br />
</h2>
    @Html.ActionLink("RSVP Now", "RsvpForm")
</div>


